@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow {
  text-shadow: 1px 1px 3px #6b423c;
}

body {
  font-family: 'Jua', sans-serif;
  background: '#251804';
}
